
/* p {
    padding: 1%;
}  */

.medail {
    position: absolute; 
    margin-left: 15%;
    margin-top: 4%; 
    max-width: 1200px;
    /* width: 327px; */
    width:240px;
    min-height: 20%;
    height : 50vh;
    /* background-color: violet; */
    
    /* min-width: 220px; */
    /* min-height: 300px; */
    /* background-position:center center; */
    background-image: url(../../images/Lau_BWTR2.png);
    /* background-size: 100% auto; */
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index:2;
    /* box-shadow: 10px 10px; */
    /* opacity: .90;  */
}

#mainContent {
    position: relative; 
    margin: 0 auto;
    max-width: 1200px;
    width:100%;
    /* height: 900px; */
    height : 100vh;
    color:white;
    /* min-width: 220px; */
    /* min-height: 300px; */
    background-position:center center;
    background-image: url(../../images/background.png);
    /* background-size: 100% auto; */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #b7e6a9; 
    z-index:1;
    
}

main, header, footer {
    margin: 0 auto;
    padding: 0;
   /* padding: rem-calc(20); */
    max-width: 1200px;
    /* min-width: 320px; */
    color: #ffffff;
    background-color: beige; 
}

section.Title{
    position: absolute;
    margin-top : 27.4%;
    margin-left: 2%;
    /* background-color: #b6a03f; */
    /* z-index:3; */
}

section.SubTitle{
    text-shadow: 2px 2px 2px black;
    position: absolute;
    /* width:400pc; */
    margin-top : 26%;
    margin-left: 2%;
    /* background-color: #b6a03f; */
}

section.Title h2{
    text-shadow: 2px 2px 2px black;
    font-size: 1.5em;
    padding-left: 1.8%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

}

section.intro {
    position:absolute;
    width:25%;
    margin-top: 55vh;
    margin-left:4%;
    padding:10px;
    opacity : 0.8;
    background-color: teal; 
    
    text-shadow: 2px 2px 2px black;
    /* background-color: violet; */
    font-size: 1.7em;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-align: left;
    border-radius: 7px;
    z-index:3;
}

section.preFooter p{ 
    position: absolute;
    margin-top: 86vh;
    margin-left: 37%;
    opacity : 0.8;
    /* background-color: teal;  */

    text-shadow: 1px 1px 1px black;
    /* background-color: violet; */
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    z-index: 5;   
}

@media only screen and (max-width: 700px) {


    .medail {
        margin-left: 10%;
        margin-top: 5%;
    
        /* width:120px; */
        /* height:120px; */
        background-image: url(../../images/Lau_BWTR2.png);
        /* background-size: 100% auto; */
        background-size: 90px auto;
        background-repeat: no-repeat;
        z-index:3;
        /* box-shadow: 10px 10px; */
        /* opacity: .90;  */
    }

    #mainContent {
        position: relative; 
        margin: 0 auto;
        /* max-width: 1200px;
        width:100%; */
        /* height: 900px; */
        height : 100vh;
        color:white;
        /* min-width: 220px; */
        /* min-height: 300px; */
        background-position:center center;
        background-image: url(../../images/background.png);
        /* background-size: 100% auto; */
        background-size: cover;
        background-repeat: no-repeat;


        z-index:1;
        /* display:flex; */
    }

    #mainContent h1 {
        font-size: 2.5em;
    }

    section.Title{
        margin-top : 29%;
        /* background-color: #b6a03f; */
        /* z-index:3; */
    }
    section.intro {
        width:94%;
        background-color: teal;
        font-size: 1.2em;
    }

    section.preFooter p{ 
    margin-left: 10px;
    }
}
/* 
.content {
    
/*    background: #129a22; 
    background-image: none;
} */


/* .wrapper {
    margin: auto;
    max-width: 1200px;
} */

/* 
@media screen and (min-width: 640px) {
    
} */