
nav {
    background : #358b55;
    padding: 12px;
    max-width: 1200px;
    width:100%;
    margin: 0 auto; 
}

.menuContainer {

    display:flex;
    justify-content: space-around;
    align-content: center; 
    
    flex-wrap:wrap;
}

.menuItem {

    /* background-color: black; */
    color: aliceblue;
    /* min-width: 200px; */
    /* height: 20px; */
    font-family: Lato;
    font-style: italic;
    font-size:30px;
}

a.menuItem {
 text-decoration: none;
}